body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  align-items: center;
  background-color: black;
  width: 90%;
}

header {
  display: flex;
  height: 68px;
  border-bottom: 1px solid seashell;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

header img {
  margin-left: 10px;
  height: 50px;
}

nav span {
  padding: 0 10px;
  margin: auto;
  text-decoration: underline;
}

main {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;;
}

.mission {
  background-image: url(./Images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  margin-top: 69px;
  display: flexbox;
}

.mission {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flexbox;
  padding
}
/* .mission h2,
.mission h4 {
  justify-content: center;
  align-content: center;
  text-align: center;
} */
