* {
  margin: 0;
  padding: 0;
  color: seashell;
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
}

h1,
h2,
h3,
h4,
a {
  opacity: 0.9;
  padding: 10;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  height: 50px;
  padding: 0 10px;
}

.flex-container nav {
  display: inline-flex;
}

header {
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  height: 68px;
  align-self: center;
  position: fixed;
  z-index: 1;
}

nav {
  justify-content: center;
  align-self: center;
  padding: 0 20px;
}

nav span {
  padding: 0 20px;
  text-decoration: underline;
}
